{% extends "bgadmin/layout/base.html" %}
{% load extras %}

<!-- title start -->
{% block title %}首页 - DTS管理后台{% endblock %}
<!-- ./end title -->

<!-- css start -->
{% block css %}
{% endblock %}
<!-- ./ css -->

<!-- nav start -->
{% block nav %}
  {% include 'bgadmin/layout/nav.html' %}
{% endblock %}
<!-- ./end nav -->

<!-- content start -->
{% block content %}
  <div class="container-fluid content">
    <h1>欢迎来到Python权限管理系统</h1>
  </div>
{% endblock %}
<!-- ./end content -->

<!-- js start -->
{% block js %}

{% endblock %}
<!-- ./end js -->